{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_base_css.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="font-size: 50px;" class="text-xxl-center m-3">{{ car.name }}</h1>
    <div class="row py-4 border-blue-top border-blue-bottom">
        <div class="col-md-6">
            <img src="{% static '/deps/images/cars/'|add:car.slug|add:'.jpeg' %}" class="img-fluid border-dark" alt="{{ car.name }}">
        </div>
        <div class="col-md-6">
            <table class="table table-striped p-4">
                <tbody>
                    <tr>
                        <th class="bg-primary" colspan="2" style="font-size: 25px; color: white; text-align: center;">
                            <strong>{% trans "Buy" %} {{ car.name }}</strong>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {% if car.discount %}
                                <strong>{% trans "Discounted price" %}</strong>
                            {% else %}
                                <strong>{% trans "Price" %}</strong>
                            {% endif %}
                        </td>
                        <td>
                            {% if car.discount %}
                                {{ car.discounted_price }} $
                            {% else %}
                                {{ car.price }} $
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Year" %}</strong></td>
                        <td>{{ car.year }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Engine Capacity" %}</strong></td>
                        <td>{{ car.engine_capacity }} Л</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Fuel Type" %}</strong></td>
                                               <td>{{ car.get_fuel_type_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Transmission" %}</strong></td>
                        <td>{{ car.get_transmission_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Mileage" %}</strong></td>
                        <td>{{ car.mileage }} км</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Drive Type" %}</strong></td>
                        <td>{{ car.get_drive_type_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Color" %}</strong></td>
                        <td>{{ car.color }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Code" %}</strong></td>
                        <td>{{ car.code }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center d-flex m-4 col-lg">
                <div class="text-center d-flex m-4 col-lg">
                    <a href="{% url 'leasing:create_contract' car.code %}" class="btn btn-lg btn-outline-primary bg-warning btn-opacity m-2 w-50">{% trans "Lease this car" %}</a>
                    <a href="#" class="btn btn-lg btn-outline-primary bg-primary text-warning btn-opacity m-2 w-50">{% trans "BUY" %}</a>
                </div>
            </div>
        </div>
    </div>
    {% include "leasing_services.html" %}
</div>
{% endblock %}




