{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_base_css.css" %}">
{% endblock %}

{% block content %}
<style>
    body {
        background-image: none;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #0b5ed7;
        color: white;
    }
</style>
<div class="container">
    <h1 style=" font-size: 50px;" class="text-xxl-center m-3 pb-2 border-blue-bottom">{{ car.name }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static '/deps/images/cars/'|add:car.slug|add:'.jpeg' %}" class="img-fluid" alt="{{ car.name }}">
        </div>
        <div class="col-md-6">
            <table class="table table-striped p-4">
                <tbody>
                    <tr>
                        <th colspan="2" style="font-size: 25px; background-color: #0b5ed7; color: white; text-align: center;">
                            <strong>{% trans "Buy" %} {{ car.name }}</strong>
                        </th>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Price" %}</strong></td>
                        <td>{{ car.price }} $</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Year" %}</strong></td>
                        <td>{{ car.year }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Engine Capacity" %}</strong></td>
                        <td>{{ car.engine_capacity }} Л</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Fuel Type" %}</strong></td>
                        <td>{{ car.get_fuel_type_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Transmission" %}</strong></td>
                        <td>{{ car.get_transmission_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Mileage" %}</strong></td>
                        <td>{{ car.mileage }} км</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Drive Type" %}</strong></td>
                        <td>{{ car.get_drive_type_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Color" %}</strong></td>
                        <td>{{ car.color }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center d-flex m-4 col-lg">
              <a href="{% url 'leasing:create_contract' car.code %}" class="color-blue btn-lg px-5 m-4 py-4 btn-block d-block text-white">{% trans "Book this car" %}</a>
                <a href="#" class="color-blue btn-lg px-5 m-4 py-4 btn-block d-block text-white">{% trans "BUY NOW" %}</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}




