{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_base_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
{% endblock %}
{% block content %}
    <style>
        body {
            background-image: none;
        }
    </style>
    <!-- Price Calculation Section spanning full width -->
    <div class="row ">
        <div class="col-12">
            <div class="p-4  mx-2 rounded ">
                <h2 class="text-center pb-3 ">{% trans "Price Calculation" %}</h2>
                <div class="container">
                    <div class="row border-blue-top border-blue-bottom">
                        {% for price in calculated_prices %}
                        <div class="col-lg-4 col-md-6 mb-4 pt-3">
                            <div class="card h-100">
                                <div class="card-body price-calculation border-warning-1 rounded">
                                    <div>
                                        <h5 class="card-title">{{ price.package.name }}</h5>
                                        <p class="card-text">{% trans "Package Price" %}: <b>{{ price.package.price }} $</b></p>
                                    </div>
                                    <div>
                                        <p class="card-text">{% trans "Price for 1 year leasing" %}: <b>{{ price.total_price }} $</b></p>
                                    </div>
                                    <div>
                                        <p class="card-text">{% trans "Monthly Payment per year" %}: <b>{{ price.monthly_payment }} $</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container  ">
    <div class="row mt-3">
        <!-- Left Column with Form and Package Details -->
        <div class="col-md-7 d-flex flex-column ">
        <!-- User Form -->
            <div class="p-3 align-items-end shadow auto-height  bg-opacity-50 rounded border-primary-3 blue-background no-padding-margin text-white" style="flex-grow: 0;">
                <form method="post" id="leasing-form" class="form-inline no-padding-margin">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.start_date.label_tag }}
                        {{ form.start_date }}
                    </div>
                    <div class="form-group">
                        {{ form.end_date.label_tag }}
                        {{ form.end_date }}
                    </div>
                    <div class="form-group">
                        {{ form.service_package.label_tag }}
                        {{ form.service_package }}
                    </div>
                    <button type="submit" class="btn">{% trans "Submit" %}</button>
                </form>
                {% if error_message %}
                    <div class="alert alert-danger mt-3">
                        {{ error_message }}
                    </div>
                {% endif %}
            </div>

            <!-- Selected Package Section -->
             <div class="p-4 mb-4 mx-2 rounded shadow auto-height bg-white bg-opacity-50">
                <h3 class="text-center mb-4">{% trans "Selected Package" %}</h3>
                <div class="container">
                    <div class="card ">
                        <div class="card-body " id="package-details">
                            {% if selected_package %}
                                <h5 class="card-title">{{ selected_package.name }}</h5>
                                <p class="card-text">{{ selected_package.description }}</p>
                                <p class="card-text">{% trans "Price" %}: <span id="package-price">{{ selected_package.price }}</span> $</p>
                                <p class="card-text">{% trans "Services Included" %}:</p>
                                <ul class="list-of-services scrollable-services ">
                                    {% for service in selected_package.services.all %}
                                        <li>{{ service.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{% trans "No package selected" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
             </div>
         </div>
        <!-- Right Column with Car Details -->
       <div class="col-md-5 d-flex flex-column">
            <div class="p-4 mb-4 mx-2 rounded shadow auto-height bg-white bg-opacity-50">
                <h3 class="text-center mb-4">{% trans "Selected Car" %}</h3>
                <div class="container">
                    <div class="card">
                        <div class="card-body bg-white bg-opacity-75">
                            <img src="{% static '/deps/images/cars/'|add:car.slug|add:'.jpeg' %}" class="img-selected-car" alt="{{ car.name }}">
                            <h5 class="card-title">{{ car.name }}</h5>
                            <p class="card-text">
                                {% if car %}
                                    <ul class="custom-list">
                                        <li>{% trans "Price" %}: <span id="car-price">{{ car.price }}</span> $</li>
                                        <li>{% trans "Year" %}: {{ car.year }}</li>
                                        <li>{% trans "Fuel Type" %}: {{ car.get_fuel_type_display }}</li>
                                        <li>{% trans "Transmission" %}: {{ car.get_transmission_display }}</li>
                                        <li>{% trans "Mileage" %}: {{ car.mileage }}</li>
                                        <li>{% trans "Drive Type" %}: {{ car.get_drive_type_display }}</li>
                                        <li>{% trans "Color" %}: {{ car.get_color_display }}</li>
                                        <li>{% trans "Engine Capacity" %}: {{ car.engine_capacity }}L</li>
                                    </ul>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('leasing-form');
    const servicePackageSelect = document.querySelector('#id_service_package');

    // Load saved form data from local storage
    const savedFormData = JSON.parse(localStorage.getItem('leasingFormData'));
    if (savedFormData) {
        Object.keys(savedFormData).forEach(key => {
            const input = form.querySelector(`[name=${key}]`);
            if (input) input.value = savedFormData[key];
        });

        if (savedFormData['service_package']) {
            servicePackageSelect.value = savedFormData['service_package'];
            updatePackageDetails(savedFormData['service_package']);
        }
    }

    // Save form data to local storage before page reload
    servicePackageSelect.addEventListener('change', function() {
        const formData = new FormData(form);
        const data = {};
        formData.forEach((value, key) => (data[key] = value));
        localStorage.setItem('leasingFormData', JSON.stringify(data));

        const selectedPackageId = this.value;
        const url = new URL(window.location.href);
        url.searchParams.set('package', selectedPackageId);
        window.location.href = url.toString();
    });

    function updatePackageDetails(packageId) {
        fetch(`/get-package-details/${packageId}/`)
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                document.querySelector('#package-name').textContent = doc.querySelector('#package-name').textContent;
                document.querySelector('#package-description').textContent = doc.querySelector('#package-description').textContent;
                document.querySelector('#package-price').textContent = doc.querySelector('#package-price').textContent;
                document.querySelector('#package-services').innerHTML = doc.querySelector('#package-services').innerHTML;
            });
    }
});

</script>
{% endblock %}
