body {
  /*background-image: url("bg-image.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 10px;
}

.badge.bg-warning.text-dark {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

/*.content img {*/
/*  width: 100%;*/
/*}*/
/*.content ul {*/
/*  list-style-type: disc;*/
/*  margin-left: 20px;*/
/*}*/
.container img  {
    width: 100%;
}

.custom-list {
    list-style: none;
    padding: 0  ;
    background-color: rgba(239, 239, 240);, 1;
    border-left: #0b5ed7 solid;
}

.custom-list li {
    color: black; /* Ensures text color is black */
    list-style: none;

}

.custom-list li::before {
    content: '•';
    color: #0b5ed7; /* Sets bullet color to blue */
    font-size: 30px;
    margin: auto 13px;

    /*position: absolute;*/
}
.border-blue-top{
    border-top: solid 6px #0b5ed7;
    padding-top: 10px;
    padding-bottom: 10px;
}
.border-blue-bottom{
    border-bottom: solid 6px #0b5ed7;
    margin-bottom: 10px;
}

