{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_base_css.css" %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'deps/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'deps/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'deps/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'deps/favicon/site.webmanifest' %}">
    <title>{{ title }}</title>
    <style>
        body {
            background-image: url("{% static 'deps/images/background.jpeg' %}");
            background-size: cover;
            padding-top:80px;
        }
    </style>

</head>
<body class="bg-secondary bg-opacity-25">
<header>
    <nav class="navbar navbar-expand-lg custom-navbar fixed-top w-100">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-between w-100">
                    <li class="nav-item position-relative">
                        <a class="navbar-brand nav-link text-white" href="{% url 'main:index' %}">{% trans "HOME" %}</a>
                    </li>
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            {% trans "LEASING" %}
                        </a>
                        <ul class="dropdown-menu custom-dropdown">
                            <li><a class="nav-item dropdown-item custom-dropdown-item" href="{% url 'leasing:legalentities' %}">{% trans "For legal entities" %}</a></li>
                            <li><a class="nav-item dropdown-item custom-dropdown-item" href="{% url 'leasing:individuals' %}">{% trans "For individuals" %}</a></li>
                            <li><a class="nav-item dropdown-item custom-dropdown-item" href="{% url 'leasing:leasing_services' %}">{% trans "Types of services" %}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link text-white" href="{% url 'catalog:index' %}">{% trans "CAR SALES" %}</a>
                    </li>
                    <li class="nav-item position-relative">
                        <a class="nav-link text-white" href="{% url 'main:about' %}">{% trans "ABOUT US" %}</a>
                    </li>
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "CABINET" %}</a>
                        <ul class="dropdown-menu custom-dropdown">
                            {% if user.is_superuser %}
                                <li class="dropdown-item "><a href="{% url 'admin:index' %}">{% trans "Admin Panel" %}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item " href="{% url 'user:profile' %}">{% trans "Profile" %}</a></li>
                            <li><a class="dropdown-item " href="{% url 'user:logout' %}">{% trans "Log out" %}</a></li>
                            <li><a class=" dropdown-item " href="{% url 'user:login' %}">{% trans "Log in" %}</a></li>
                            <li><a class=" dropdown-item " href="{% url 'user:registration' %}">{% trans "Log up" %}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item position-relative d-flex align-items-center">
                        <form role="search" class="d-flex" method="get" action="{% url 'catalog:search' %}">
                            <input class="form-control me-2" type="search" name="q" placeholder="{% trans "Search" %}" aria-label="Search">
                            <button class="btn btn-outline-success text-white" type="submit">{% trans "Search" %}</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


    <section>
        <div class="container ">
            <!-- Content will be inserted here -->
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'deps/js/jquery-events.js' %}"></script>
    <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
    <script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
